RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]

<Files "config.php">
    Require all denied
</Files>
<Files "config.example.php">
    Require all denied
</Files>
<FilesMatch "^\.">
    Require all denied
</FilesMatch>
<FilesMatch "\.(sql|sqlite|sqlite3)$">
    Require all denied
</FilesMatch>
